.Footer {
    background-color: white; 
    color: #6C3246; 
    font-family: sans-serif; 
    display: flex;
    flex-direction: column; 
    align-items: center; 
    box-sizing: border-box;
    box-shadow: 0 8px 15px -5px rgba(108, 50, 70, 0.4), 0 4px 6px -2px rgba(255, 191, 0, 0.2);
}

.Content {
    width: 100%;
    max-width: 1200px; 
}

h3 {
    color: #6C3246; 
    font-size: 1.5rem; 
    margin: 1rem 0rem; 
}

p {
    margin: 0.5rem 0; 
    line-height: 1.5;
}

a {
    color: #6C3246; 
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #FFBF00; 
    text-decoration: underline; 
}

.SocialIcons {
    display: inline-flex;
    gap: 1rem;
    list-style: none;   /* reset of li default styles */
    padding: 0;    /* reset of li default styles */
    margin: 0;    /* reset of li default styles */
    padding-bottom: 1rem;    
}

.SocialIcons a {
    font-size: 2rem; 
    color: #6C3246;
}

.SocialIcons a:hover {
    color: #FFBF00;
    text-decoration: none; 
}


.Copyright {
    width: 100%; 
    text-align: center;
    border-top: 1px solid #eee;
    font-size: 0.9rem;
    opacity: 0.7;
    color: #6C3246;
    padding-bottom: 1rem;
}

.Copyright p {
    margin: 0; 
}