.Header {
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #eee;
    margin-bottom: 1rem;
    background-color: white;
    font-family: sans-serif;
    color: #6C3246;
    height: 8.5rem;
    box-sizing: border-box;
    box-shadow: 0 8px 15px -5px rgba(108, 50, 70, 0.4), 0 4px 6px -2px rgba(255, 191, 0, 0.2);
}

.Header .logoIcon {
    height: 6.5rem;
}

.Header h1 {
    font-size: 2rem;
    flex-grow: 1;
}

.Header .donateIcon {
    height: 7rem;
}

/* --- Tablet and below view adjustments --- */
@media (max-width: 820px) {
    .Header {
        height: 6.5rem;
        gap: 2rem;
        padding: 0.5rem 1rem;
    }
    .Header h1 {
        font-size: 1.5rem;
    }
    .Header p {
        font-size: 0.8rem;
        margin-bottom: 0.5rem;
    }
    .Header .logoIcon {
        height: 4rem;
    }
    .Header .donateIcon {
        height: 4rem;
    }
}

/* --- little charity number hack --- */
@media (max-width: 626px) {
    .Header {
        height: 7.5rem;
    }
}

/* --- Mobile and below view adjustments --- */
@media (max-width: 465px) {

    .Header {
        height: 8rem;
        gap: 0.3rem;
    }

    .Header .logoIcon {
        height: 5rem;
    }

    .Header h1 {
        font-size: 1.5rem;
        margin-bottom: 0.3rem;
    }

    .Header p {
        display: none;
    }

    .HeaderDonate {
        display: none;
    }
}