.Sponsors { 
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    align-items: center;
    justify-items: center;
    gap: 2rem; 
    padding: 2rem; 
    background-color: white; 
    border-bottom: 1px solid #eee;
    box-shadow: 0 8px 15px -5px rgba(108, 50, 70, 0.4);
    margin-bottom: 1rem;

    img {
        height: 3.5rem;
        max-width: 100%;
        object-fit: contain;
    }
}

@media (max-width: 875px) {
    .Sponsors {
        grid-template-columns: repeat(2, 1fr); 

        img {
            height: 3rem;
        }
    }
}

@media (max-width: 480px) {
    .Sponsors {
        grid-template-columns: 1fr;
        gap: 1rem;

        img {
            height: 2.5rem;
        }
    }
}