.Header {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: space-between;
    color: #6C3246;

    .logoIcon {
        height: 12rem;
    }

    h1 {
        font-size: 2.7rem;
        flex-grow: 1;
    }

    .donateIcon {
        height: 7rem;
        padding-right: 1rem;
        padding-left: 2rem;
    }

}