.Header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 2rem;
    border-bottom: 1px solid #eee;
    background-color: white;
    font-family: sans-serif;
    color: #6C3246;
    height: 8.5rem;
    box-sizing: border-box;
    box-shadow: 0 8px 15px -5px rgba(108, 50, 70, 0.4), 0 4px 6px -2px rgba(255, 191, 0, 0.2);
}

.Header .logoIcon {
    height: 8.5rem;
}

.Header h1 {
    font-size: 2.2rem;
    flex-grow: 1;
    padding: 0px 30px;
}

.Header .donateIcon {
    height: 7rem;
}

/* --- Tablet and below view adjustments --- */
@media (max-width: 768px) {
    .Header {
        height: 6.5rem;
        padding: 0.5rem 1rem;
    }
    .Header h1 {
        font-size: 1.5rem;
    }
    .Header .logoIcon {
        height: 5rem;
    }
    .Header .donateIcon {
        height: 4rem;
    }
}

/* --- Mobile and below view adjustments --- */
@media (max-width: 465px) {
    .Header h1 {
        font-size: 1.5rem;
        padding: 1rem;
    }

    .HeaderDonate {
        display: none;
    }
}