.AdultsPage {
    justify-content: center;
    align-items: center;
    box-shadow: 0 8px 15px -5px rgba(108, 50, 70, 0.4), 0 4px 6px -2px rgba(255, 191, 0, 0.2);
    margin-bottom: 1rem;
    font-family: sans-serif;
    padding: 1rem;

    h2 {
        color: #6c3246;
        font-size: 1.5rem;
        font-weight: 600;
        margin: 1rem 0rem 0rem 0rem;
    }

    .AdultsText {
        padding: 1rem;
        text-align: left;

        h3 {
            color: #6c3246;
            margin: 1rem 0rem;
        }

        p {
            padding-bottom: 1rem;
        }
    }
}