.HomePage {
    padding: 2rem 3rem;
    box-shadow: 0 8px 15px -5px rgba(108, 50, 70, 0.4), 0 4px 6px -2px rgba(255, 191, 0, 0.2);
    margin-bottom: 1rem;
    display: flex;
    gap: 2.5rem;           
    font-family: sans-serif;
    justify-content: center;
    align-items: center;

    .text-section {
        flex: 1;
        text-align: left;

        h2 {
            color: #712133; 
            margin-bottom: 1.5rem;
        }

        p {
            color: #333; 
            line-height: 1.6;
            margin-bottom: 1rem;
        }
    }

    .image-section {
        flex: 1;

        img {
            max-width: 100%;
            height: auto;  
            border-radius: 1.5rem; 
            box-shadow: 0 4px 8px rgba(0,0,0,0.1); 
        }
    }
}

@media (max-width: 980px) {
    .HomePage {
        flex-direction: column;
        text-align: center;
        gap: 0.5rem;
        padding: 1rem 2rem;

        .text-section {
            text-align: center;
        }
    }
}